@import "variables.scss";

#account-page {
    max-width: map-get($map: $container-max-widths, $key: xl);
    margin: 0 auto;
    display: flex;

    .sidebar {
        width: 30%;
        background-color: $bg-color-light;

        a {
            text-decoration: none;
            outline: none;
        }

        .list-group-item {
            border-left: 3px solid transparent;
            transition: background-color 0.1s ease-in, border 0.2s linear;
            background-color: transparent;

            &:hover {
                background-color: rgba(128, 128, 128, 0.644);
            }
        }

        .active {
            .list-group-item {
                border-left: 3px solid $primary;
                background-color: $bg-color-dark;
            }
        }
    }

    .main {
        width: 100%;
        padding: 2rem 3rem;
        background-color: $bg-color-dark;
        min-height: 300px;

        .title {
            border-bottom: 2px solid #414141;
            padding-bottom: 0.5rem;
        }

        h3 {
            font-size: 1.3rem;
        }

        p.big {
            font-size: 1.2em;
        }

        p {
            color: #a3a3a3;
        }
    }
}
