[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
bs4 = "*"
python-interface = "*"

[requires]
python_version = "3.7"

[scripts]
start="python torrent_scraper.py"