.season-list {
    flex-direction: row;
    flex-wrap: wrap;

    .item {
        text-align: center;
        color: #9e9e9e;

        flex: auto;
        flex-basis: 0;

        &.active {
            color: #ececec;
        }

        &:hover .icon {
            display: inline-block;
        }

        .icon {
            display: none;
        }
    }
}

.episode-list {
    .item  {
        display: flex;
        align-items: center;

        .episode-number {
            color: gray;
        }
    }
}