@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

@import 'skeleton.scss';

body {
    font-family: 'Poppins', sans-serif;
}

#root {
    overflow-x: hidden;
    min-height: 100vh;
}

.card {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.center-container {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.transition {
    transition: all 0.3s;
}

.dropdown-toggle {
    &.no-carret::after {
        content: none;
    }
}

.main-container {
    padding-top: 5rem;
}

.form-label {
    font-weight: lighter;
}