$body-bg: #2D2D2D;
// $body-color: #e4e4e4;
$body-color: #ececec;

$card-bg: #484848;

$enable-shadows: true;

$input-bg: #666666;
$input-color: #e4e4e4;

$theme-colors: (
    primary: #0bc79e,
    secondary: #159c7f
);

$input-border-color: #2e2e2e;

$modal-content-bg: $body-bg;
$close-color: $body-color;