$body-bg: #1D1D1D;
// $body-color: #e4e4e4;
$body-color: #ececec;

$card-bg: #343434;
$card-border-radius: 0;

$primary: #0bc79e;
$secondary: #159c7f;

$list-group-bg: #3c3c3c;
$list-group-color: #e4e4e4;

$input-placeholder-color: #aaaaaa;

$enable-shadows: true;

$input-bg: #666666;
$input-color: #e4e4e4;

$theme-colors: (
    primary: $primary,
    secondary: $secondary
);

$input-border-color: #2e2e2e;

$modal-content-bg: $body-bg;
$close-color: $body-color;

$navbar-dark-active-color: #ececec;