@import "variables.scss";

.media-modal {

    .modal-content {
        background-color: #0D0D0D;
    }

    .media-modal-header {

        .top-thumbnail {
            height: 448px;
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                min-height: 100%;
                min-width: 100%;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .info {
            position: relative;
            margin-top: -117px;
            padding: 45px 11px 13px;
            background: linear-gradient(0deg, #0D0D0D 13%, rgba(13, 13, 13, 0) 95%);

            .title {
                font-size: 36px;
                line-height: 54px;
                text-transform: capitalize;
                margin-bottom: 0;
            }

            .spec {
                display: flex;
                align-items: center;

                .type {
                    font-size: 1rem;
                }

                $types: ("Movie": "movie", "Series":"series", "Episode": "episode");
                @each $name, $type in $types {
                    .type-#{$name} {
                        background: map-get($map: $content-type-colors, $key: $type);
                    }
                }

                .year, .rating {
                    font-size: 13px;
                }
            }
        }

    }

    .media-modal-body {
        position: relative;
        padding: 0 1rem 1rem;

        .description {
            text-align: justify;
            font-size: 16px;
            line-height: 24px;
        }
    }

}