.media-card {

    cursor: pointer;
    transition: 0.15s box-shadow ease-in;

    &:hover {
        box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);

        .watch-overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    .image {
        height: 200px;
    }

    .title {
        font-size: 1.2em;
    }

    .downloading {
        .watch-overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    .watch-overlay {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
    }
}